@font-face {
  font-family: 'CooperHewitt-Light';
  src: url('CooperHewitt-Light.eot');
  src: url('CooperHewitt-Light.woff2') format('woff2'),
       url('CooperHewitt-Light.woff') format('woff'),
       url('CooperHewitt-Light.ttf') format('truetype'),
       url('CooperHewitt-Light.svg#CooperHewitt-Light') format('svg'),
       url('CooperHewitt-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


